<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h2 class="text-center"> <%= @club.name %> </h2>

      <% if @club.photo.present? %>
      <%= cl_image_tag @club.photo, height: 300, width: 400, crop: :fill, gravity: :face %>
      <% end %>

      <ul>
        <li><%= @club.name %></li>
        <li><%= @club.street %></li>
        <li><%= @club.street_number%></li>
        <li><%= @club.city %></li>
        <li><%= @club.zip %></li>
        <li><%= @club.description %></li>
      </ul>


      <%= link_to 'Edit your profile', edit_user_club_path(current_user, @club), class: "btn btn-primary" %>
      <%= link_to 'Destroy your profile', user_club_path(current_user, @club), method: :delete, class: "btn btn-danger" %>

    </div>
  </div>
</div>
