<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h2 class="text-center"> <%= @club.name %> </h2>

      <% if @club.photo.present? %>
      <%= cl_image_tag @club.photo, height: 300, width: 400, crop: :fill, gravity: :face %>
      <% end %>

      <ul>
        <li><%= @club.name %></li>
        <li><%= @club.street %></li>
        <li><%= @club.street_number%></li>
        <li><%= @club.city %></li>
        <li><%= @club.zip %></li>
        <li><%= @club.description %></li>
      </ul>

      <% if current_user == @club.user %>
        <%= link_to 'Edit your club', edit_user_club_path(current_user, @club), class: "btn btn-primary" %>
        <%= link_to 'Destroy your club', user_club_path(current_user, @club), method: :delete, class: "btn btn-danger" %>
        <%= link_to 'Add a field', new_user_club_field_path(current_user, @club), class: "btn btn-success" %>
      <% end %>

    </div>
  </div>
  <div class="row">
    <h2 class="text-center"> Your fields </h2>
    <% @fields.each do |field| %>
      <div class="col-sm-4">
        <h2 class="text-center"><%= field.field_number %></h2>
        <p>The price per hour is <%= field.price %> €</p>
        <% if field.outdoor == true %>
          <p>Outdoor</p>
        <% else %>
          <p>Indoor</p>
        <% end %>
        <% if current_user == @club.user %>
          <%= link_to "Edit field", edit_user_club_field_path(current_user, @club, field), class: "btn btn-primary" %>
          <%= link_to "Remove field", user_club_field_path(current_user, @club, field), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
