<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h2 class="text-center"> Edit your profile </h2>

      <%= simple_form_for [current_user, @player] do |f| %>
        <%= f.input :first_name %>
        <%= f.input :last_name %>
        <%= f.input :age %>
        <%= f.input :gender, collection: ["Male", "Female"] %>
        <%= f.input :city %>
        <%= f.input :zip %>
        <%= f.input :description %>
        <%= f.input :level, collection: ["Beginner", "Elementary ", "Intermediate", "Advanced", "Expert"] %>
        <%= f.input :photo%>
        <%= f.input :photo_cache, as: :hidden %>

        <div class="form-actions text-center">
          <%= f.button :submit, "Confirm", class: "btn btn-primary" %>
        </div>
      <% end %>

    </div>
  </div>
</div>
